.sistema{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.img-sistema img{
    width: 250px;
    height: 250px;
}
