.funcionalidades{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem 2rem 2rem;
}

.funcionalidade-titulo{
    color: #333;
    padding: 20px;
    font-size: 2rem;
}

.funcionalidades-container{
    margin-top: 20px;
    width:100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.281);
    
}



.card img{
    width: 100px
}

.card-titulo{
    color: #222;
    font-size: 1.1rem;
    margin: 10px;
}

.card-sobre{
    color: #444;
}


.button-container{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100%;
}

.card-button {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.281);
    color: white;
    margin-top: 15px;
    background-color: rgb(77, 162, 241);
    transition: transform 0.3s ease;
}

.card-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .funcionalidade-titulo {
      font-size: 1.5rem;
    }
  }

@media (max-width:960px){
    .card-button{
        width: 100%;
    }
}